<!doctype html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
    <div class="card">
      <h1>Register</h1>
      <form method="POST">
          <div>
            <label for="username"><img src="../static/img/icons/user.svg"></label>
            <input type="text" name="username" required><br>
          </div>
          <div>
            <label for="password"><img src="../static/img/icons/lock.svg"></label>
            <input type="password" name="password" required><br>
          </div>
          <button type="submit">Register</button>
      </form>
      <a href="{{ url_for('login') }}">Login</a>
    </div>
</body>
</html>
